<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create Chain</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="container">
                <div class="inner">
                    <h1>Create Email Group</h1>
                    <div class="form-container">
                        <form id="email-form">
                            <div class="form-group">
                                <label>Group Name</label>
                                <input type="text" class="text-input" value="Group_name"/>
                            </div>
                            <div class="form-group">
                                <label>TO</label>
                                <input type="text" class="text-input" value=""/>
                            </div>
                            <div class="form-group">
                                <label>CC</label>
                                <div class="textarea-cont">
                                    <textarea rows="10" cols="50" class="textarea-input"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>BCC</label>
                                <div class="textarea-cont">
                                    <textarea rows="10" cols="50" class="textarea-input"></textarea>
                                </div>
                            </div>
                            <div class="submit-sec">
                                <div class="upload-sec">
                                    <a href="" class="upload-btn"><span class="material-icons">cloud_upload</span></a>
                                    <h5>Upload with JSON</h5>
                                </div>
                                <div class="submit-cont">
                                    <a href="" class="save-btn">Save</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="footer-content">
                    <div class="d-flex">
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="footer-address">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="" async defer></script>
    </body>
</html>