<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create Chain</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="container">
                <div class="inner">
                    <h1>Create Chain</h1>
                    <div class="form-container">
                        <form id="chain-form">
                            <div class="form-group">
                                <label>Chain Name</label>
                                <input type="text" class="text-input" value="chain_name"/>
                            </div>
                            <div class="form-group">
                                <label>Email Group</label>
                                <select class="freq-drop email-group-drop">
                                    <option>Group 1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Frequency</label>
                                <div class="drop-downs">
                                    <select class="freq-drop">
                                        <option>Weekly</option>
                                        <option>Monthly</option>
                                        <option>Yearly</option>
                                        <option>Recurring</option>
                                    </select>
                                    <select class="freq-drop">
                                        <option>Weekly</option>
                                        <option>Monthly</option>
                                        <option>Yearly</option>
                                        <option>Recurring</option>
                                    </select>
                                </div>
                                <!-- add time -->
                            </div>
                            <div class="form-group">
                                <label>Email Body</label>
                                <div class="textarea-cont">
                                    <textarea rows="15" cols="75" class="textarea-input"></textarea>
                                    <div class="attachments">
                                        <div class="attach-file"><h5>Attachment File</h5><a class="remove-file" href=""><span class="material-icons">close</span></a></div>
                                    </div>
                                    <a href="" class="attach-pin"><span class="material-icons">attach_file</span></a>
                                </div>
                            </div>

                            <div class="submit-sec">
                                <div class="submit-cont">
                                    <a href="" class="save-btn">Save</a>
                                </div>
                                <div class="submit-run-cont">
                                    <a href="" class="save-btn">Save & Run</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="footer-content">
                    <div class="d-flex">
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="footer-address">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="" async defer></script>
    </body>
</html>