<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="container bg-1 h-80vh">
                <div class="sub-content-box">
                    <div class="d-flex center">
                        <div class="left">
                            <h1>Spread the word,<br/>We'll get the pigeons</h1>
                            <div class="dash-btn-container bg-2"><a class="dash-btn">Get Started today</a></div>
                        </div>
                        <div class="right">
                            <!-- ad image here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bg-2">
                <div class="top center w-50">
                    <h1>Send business chain mails</h1>
                    <p class="center sub-head-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eligendi officiis unde minima ipsum cumque deserunt aperiam velit nam veritatis voluptatum quo ullam temporibus, ducimus eius ratione officia, neque possimus.</p>
                </div>
                <div class="sub-content-box">
                    <div class="d-flex center">
                        <div class="left">
                            <!-- ad image here -->
                        </div>
                        <div class="right">
                            <h1 class="sub-heading">Set Up your business mails quickly</h1>
                            <p class="center sub-text">Get your business up and running by sending out newsletters, updates to your suscribers</p>
                            <div class="dash-btn-container bg-1"><a class="dash-btn">Manage chains</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bg-1">
                <div class="top center w-50">
                    <h1>What do we offer</h1>
                    <p class="center sub-head-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eligendi officiis</p>
                </div>
                <div class="sub-content-box">
                    <div class="d-flex center">
                        <div class="left">
                            <h1 class="sub-heading">At your own time</h1>
                            <p class="center sub-text">Weekly, Monthly, Yearly or recurring, send mails at any time of your choice</p>
                            <!-- <a class="dash-btn">Get Started today</a> -->
                        </div>
                        <div class="right">
                            <!-- ad image here -->
                        </div>
                    </div>
                </div>
                <div class="sub-content-box">
                    <div class="d-flex center">
                        <div class="left">
                            <h1 class="sub-heading">Custom email groups</h1>
                            <p class="center sub-text">Avoid adding emails everytime for a new chain. Create a custom group for multiple chains.</p>
                            <!-- <a class="dash-btn">Get Started today</a> -->
                        </div>
                        <div class="right">
                            <!-- ad image here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container bg-2">
                <div class="top center w-50">
                    <h1>Our Team</h1>
                    <p class="center sub-head-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere eligendi officiis unde.</p>
                </div>
                <div class="sub-content-box">
                    <div class="d-flex center">
                        <div class="team-item"></div>
                        <div class="team-item"></div>
                        <div class="team-item"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="footer-content">
                    <div class="d-flex">
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="footer-address">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="" async defer></script>
    </body>
</html>