<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Manage Chains</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="container">
                <div class="inner">
                    <h1>Manage Chains</h1>
                    <div class="cards-container">
                        <div class="card">
                            <div class="card-top">
                                <h1 class="sub-head-text">Chain Name</h1>
                                <div class="status-icon"></div>
                            </div>
                            <p class="freq-text">Frequency: Weekly | Day | Time</p>
                            <h5>Email Group Name</h5>
                            <div class="card-footer">
                                <div class="chain-icons">
                                    <a href="" class="chain-icon"><i class="material-icons">play_arrow</i></a>
                                    <!-- <a href="" class="chain-icon"><i class="material-icons">pause</i></a> -->
                                    <a href="" class="chain-icon"><i class="material-icons">visibility</i></a>
                                    <a href="" class="chain-icon"><i class="material-icons">edit</i></a>
                                    <a href="" class="chain-icon"><i class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <h1 class="sub-head-text">Chain Name</h1>
                                <div class="status-icon"></div>
                            </div>
                            <p class="freq-text">Frequency: Weekly | Day | Time</p>
                            <h5>Email Group Name</h5>
                            <div class="card-footer">
                                <div class="chain-icons">
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <h1 class="sub-head-text">Chain Name</h1>
                                <div class="status-icon"></div>
                            </div>
                            <p class="freq-text">Frequency: Weekly | Day | Time</p>
                            <h5>Email Group Name</h5>
                            <div class="card-footer">
                                <div class="chain-icons">
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-top">
                                <h1 class="sub-head-text">Chain Name</h1>
                                <div class="status-icon"></div>
                            </div>
                            <p class="freq-text">Frequency: Weekly | Day | Time</p>
                            <h5>Email Group Name</h5>
                            <div class="card-footer">
                                <div class="chain-icons">
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                    <a href="" class="chain-icon"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card add-icon-card">
                            <div class="add-icon">
                                <i class="material-icons">
                                    add_circle
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="footer-content">
                    <div class="d-flex">
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="col">

                        </div>
                        <div class="sep-line"></div>
                        <div class="footer-address">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="" async defer></script>
    </body>
</html>